<ng-template #loading>
  <shared-spinner></shared-spinner>
</ng-template>
<div *ngIf="countryDetails; else loading">
  <div class="row">
    <div class="col-12">
      <h2 class="pb-3">
        <span>
          <strong>{{
            countryDetails.translations["spa"].common ||
              countryDetails.translations["eng"].common
          }}</strong>
        </span>
        <span> - </span>
        <span class="text-muted">({{ countryDetails.name.official }})</span>
      </h2>
    </div>
    <hr />
    <div class="row">
      <div class="col-4">
        <h3>Bandera</h3>
        <a
          title="Ver en tamaño grande"
          [href]="countryDetails.flags.svg"
          target="_blank"
        >
          <img
            [src]="countryDetails.flags.svg"
            [alt]="countryDetails.name.common"
            class="img-thumbnail"
          />
        </a>
      </div>
      <div class="col">
        <h3>Detalles del país</h3>
        <ul class="list-group">
          <li class="list-group-item">
            <strong>Población:</strong>
            {{ countryDetails.population | number }}
          </li>
          <li class="list-group-item">
            <strong>Capital:</strong> {{ countryDetails.capital }}
          </li>
          <li class="list-group-item">
            <strong>Área:</strong> {{ countryDetails.area | number }} km<sup
              >2</sup
            >
          </li>
          <li class="list-group-item">
            <strong>Continente:</strong> {{ countryDetails.region }}
          </li>
          <li class="list-group-item">
            <strong>Subregión:</strong> {{ countryDetails.subregion }}
          </li>
        </ul>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col">
        <h3>Traducciones</h3>
        <div class="d-flex flex-wrap">
          <span
            *ngFor="let tranlations of countryNameTranslations"
            class="badge bg-primary m-1"
            [title]=""
          >
            {{ tranlations.common }}
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
