<h2>
  Por continente
  <shared-spinner *ngIf="isLoading"></shared-spinner>
</h2>
<hr />

<div class="row">
  <div class="col text-center">
    <button
      *ngFor="let region of regions"
      class="btn mx-2"
      [ngClass]="{ 'btn-primary': region === activeRegion }"
      (click)="searchByRegion(region)"
    >
      {{
        region === "africa"
          ? "África"
          : region === "americas"
          ? "América"
          : region === "asia"
          ? "Asia"
          : region === "europe"
          ? "Europa"
          : region === "oceania"
          ? "Oceanía"
          : (region | titlecase)
      }}
    </button>
  </div>
</div>
<div class="row">
  <div class="col">
    <hr />
    <countries-country-table [countries]="countries"></countries-country-table>
  </div>
</div>
